* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@mixin wh($w, $h) {
    width: $w;
    height: $h;
}

html,
body,
.wrap {
    @include wh(100%, 100%);
}

.wrap {
    display: flex;
    flex-direction: column;
    font-size: .32rem;
}

section {
    flex: 1;
    overflow-y: auto;
    // padding-top: 1.2rem;
    position: relative;
}

nav {
    @include wh(100%, .6rem);
    border-bottom: 1px solid #eee;
    display: flex;
    padding: .12rem;
    align-items: center;
    border-bottom: 1px solid #eee;
    i.icon {
        margin: 0 .04rem;
        vertical-align: center;
        &:nth-of-type(1) {
            margin-left: .04rem;
        }
    }
    .input {
        flex: 1;
        position: relative;
        input {
            width: 100%;
            height: .36rem;
            margin-top: .04rem;
            border: 0;
            border-radius: .2rem;
            background: #eee;
            text-align: center;
        }
        i.icon {
            position: absolute;
            left: 50%;
            margin-left: -.8rem;
            top: .12rem;
        }
    }
}

.parent {
    width: 100%;
    height: 100%;
    padding-top: .6rem;
    .list {
        width: 100%;
        height: 3rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.header {
    display: flex;
    position: fixed;
    left: 0;
    top: 0.6rem;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: .6rem;
    span {
        flex: 1;
        height: .6rem;
        line-height: .6rem;
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    border-radius: 0;
}

.swiper-pagination-bullet {
    opacity: 1;
    background: none;
}